.DS_Store
*.local
dist
dist-ssr
node_modules

# intellij stuff
.idea/
*.pdf
*-export
demo/starter/slides.md
assets/demo
packages/slidev/README.md
composable-vue-cn

# Yarn stuff
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
